<div id="fullpage">

  <div class="fullscreen-bg">
    <div class="vid-color animate-header"></div>
      <video loop="" muted="" data-autoplay="" class="fullscreen-bg__video">
        <source src="/images/video/laVideo.mp4" type="video/mp4">
      </video>
  </div>

  <div class="fp-section" style="background-image:url(images/bg_home.png);">

    <h1 class="text-uppercase text-center">The Last Web Site You'll Ever Need</h1>

  </div>

  <div class="fp-section" style="background-image:url(images/heroImage2.png);">
  </div>

  <div class="fp-section" style="background-image:url(images/heroImage3.png);">
  </div>

  <div class="fp-section" style="background-image:url(images/heroImage4.png);">
  </div>

</div>

<!-- <header class="section home-page-header">
  <div class="header-waypoint"></div>

  <div class="header-wrapper">
    <div class="section-wrapper-inner" data-background="blue">

          <h1 class="text-uppercase text-center">The Last Web Site You'll Ever Need</h1>
    </div>
  </div>

</header> -->
